body{
    background-color:lightgray;
    margin: 20px;
    text-align: center;
}

form{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgb(215, 186, 196);
}

input{
    border-radius: 20px;
    border: 1px solid white;

}