body{
    background-color:lightgray;
    margin: 20px;
    text-align: center;
}

form{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: #d7bac4;
}

select, input{
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.teseractoIcon{
    width:80px;
    margin: 0 10px;
}
.editing{
    background-color:  #d1c8de ;
}